{% extends "header.html" %}

{% block body %}

<div class="container">
  <h2 style="text-align:center;">CasRx guide design</h2>
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/human">Human</a></li>
    <li><a href="/mouse">Mouse</a></li>
    <li><a href="/others">Other organisms</a></li>
    <li><a href="/custom">Custom sequence input</a></li>
  </ul>
</div>

<div>
<h2 style="text-align:center;">Welcome to our CasRx guide design website!</h2>
</div>
<div>
<h3 style="font-size:25px";> Here, we have predicted CasRx guide efficiency for all human and mouse Refseq genes. 
<br> We have also enabled custom sequence input for CasRx guide design.</h3>
</div>

<div>
<h3>Quick start:</h3>
<ul>
  <li style="font-size:20px";>For precomputed human gene CasRx guide efficiency, please click the "Human" tab.</li>
  <li style="font-size:20px";>For precomputed mouse gene CasRx guide efficiency, please click the "Mouse" tab.</li>
  <li style="font-size:20px";>For custom sequence input, please click the "Custom sequence input" tab.</li>
</ul>
</div>
<!-- <h5>For precomputed human gene CasRx guide efficiency, please click the "Human" tab.</h5>
<h5>For precomputed mouse gene CasRx guide efficiency, please click the "Mouse" tab.</h5>
<h5>For custom sequence input, please click the "Custom sequence input" tab.</h5> -->
<div>
<h4 style="font-size:20px";>We are working to predict CasRx guide efficiency for other organisms! Stay Tuned! </h4>
</div>
{% endblock %}



